<!DOCTYPE html>
<html>

<%- include('header.ejs') -%>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <h2>Sing up</h2>
  <form id="singup" action="/singup" method="post">
    <div class="formItem">
      <label for="username">username</label>
      <input type="text" name="name" id="username">
    </div>

    <div class="formItem">
      <label for="password">password</label>
      <input type="password" name="password" id="password">
    </div>

    <div class="formItem">
      <label for="email">email</label>
      <input type="text" name="email" id="email">
    </div>

    <div class="formItem">
      <button type="submit">Submit</button>
    </div>

  </form>
</body>
<%- include('settoken.ejs') -%>
<script>
  document.getElementById('singup').addEventListener('submit', async (event)=>{
    // 防止表單默認提交行為
    event.preventDefault();
    const preFormData = new FormData(event.target);
    const [...pairs] = preFormData.entries();
    const formData = pairs.reduce((p,c)=>{p[c[0]]=c[1];return p;},{});
    console.log(JSON.stringify(formData));
    fetch('/users/',{
              method: "POST",
              headers: {
                "Content-Type": "application/json",
                "Accept": "application/json",
              },
              body:JSON.stringify(formData),
          })
          .then((result)=>result.ok?window.location.href='/':{})
    .catch(error=>console.log(error));
  });
</script>
</html>