<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel </title>
  </head>
  <body>
    <p><i>Technical note: using .handlebars extension for views.</i></p>
    {{{body}}}
  </body>
</html>
